* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Arial', sans-serif;
    background-color: #f0f0f0;
}

h1 {
    background-color: #081b31;
    color: #fff;
    height: 5rem;
    line-height: 5rem;
    text-align: center;
}

.choices {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 3rem;
    margin-top: 5rem;
}

.choice {
    height: 165px;
    width: 165px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #ccc;
    transition: background-color 0.3s ease;
}

.choice:hover {
    cursor: pointer;
    background-color: #081b31;
}

.choice img {
    height: 150px;
    width: 150px;
    object-fit: cover;
    border-radius: 50%;
}

.score-board {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2rem;
    margin-top: 3rem;
    gap: 5rem;
}

.score {
    background-color: #fff;
    border: 2px solid #333;
    border-radius: 10px;
    padding: 10px 20px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

#user-score,
#comp-score {
    font-size: 4rem;
}

.msg-container {
    margin-top: 5rem;
    text-align: center;
}

#msg {
    background-color: #081b31;
    color: #fff;
    font-size: 2rem;
    display: inline-block;
    padding: 1rem;
    border-radius: 1rem;
}

.game-selection {
    margin-top: 2rem;
    text-align: center;
}

#game-type {
    padding: 10px;
    font-size: 1.5rem;
    border: 2px solid #081b31;
    border-radius: 5px;
    background-color: #fff;
    color: #081b31;
    cursor: pointer;
    transition: background-color 0.3s ease, color 0.3s ease;
}

#game-type:hover {
    background-color: #081b31;
    color: #fff;
}

#game-type option {
    background-color: #fff;
    color: #081b31;
}
